/VarekaGTNEpochs.mat
/training
/images
/images-2
/generated
/non_target_gan.h5
/target_gan.h5
/non_target_gan_mk_1.h5
/non_target_gan_mk_2.h5
/target_gan_mk_1.h5
/target_gan_mk_2.h5
/input_target
/input_non_target
/output_target
/output_non_target
